.button-sapxep {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    padding: 7px 32px;
    /* Äáº·t giĂ¡ trá»‹ padding má»›i */
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    margin-left: 5px;
    outline: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .button-sapxep:disabled {
    pointer-events: none;
  }

  .button-sapxep:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .button-sapxep:active {
    box-shadow: none;
    transform: translateY(0);
  }


  .button-theme {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 7px 10px;
    /* Äáº·t giĂ¡ trá»‹ padding má»›i */

    min-height: 30px;
    margin-left: 11px;
    outline: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    transition: background-color 0.3s, color 0.3s;
  }

  .button-theme:disabled {
    pointer-events: none;
  }

  .button-theme:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .button-theme.active {
    background-color: #045CB4;
    color: #fff;
  }


  .button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.2;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }


  .text-tienich {
    font-family: Montserrat, sans-serif;
    font-weight: 550;
    font-size: 16px;
    padding: 10px;
  }

  .textarea-tienich {
    border: 1px solid #1A1A1A;
    border-radius: 8px;
    padding: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 550;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
  }

  .textarea-tienich:focus {
    outline: none;
    border-color: #1A1A1A;
    box-shadow: 0 0 5px rgba(26, 26, 26, 0.5);
  }

  .button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .button-center>.tab-pane {
    display: none
  }

  .button-center>.active {
    display: block
  }

  input[type="radio"] {
    display: none;
  }






/* Styles cho mobile */
@media only screen and (max-width: 767px) {
/* Äáº·t cĂ¡c kiá»ƒu CSS cho mĂ n hĂ¬nh cĂ³ chiá»u rá»™ng tá»‘i Ä‘a lĂ  767px (Ä‘iá»‡n thoáº¡i di Ä‘á»™ng) */
 #wheel-container {
  /* Äáº·t giĂ¡ trá»‹ cho margin vĂ  padding theo tá»«ng hÆ°á»›ng cá»¥ thá»ƒ */
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: -30px;
  margin-right: 5px;

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 5px;

}
}

/* Styles cho tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
/* Äáº·t cĂ¡c kiá»ƒu CSS cho mĂ n hĂ¬nh cĂ³ chiá»u rá»™ng tá»« 768px Ä‘áº¿n 1023px (tablet) */
}

/* Styles cho desktop */
@media only screen and (min-width: 1024px) {
/* Äáº·t cĂ¡c kiá»ƒu CSS cho mĂ n hĂ¬nh cĂ³ chiá»u rá»™ng tá»« 1024px trá»Ÿ lĂªn (desktop) */
 #wheel-container {
  /* Äáº·t giĂ¡ trá»‹ cho margin vĂ  padding theo tá»«ng hÆ°á»›ng cá»¥ thá»ƒ */
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 40px;

  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;


}

 .button-tienich {
      min-height: 30px;
      margin-bottom: 10px;
    }

    .button-sapxep {
      padding: 5px 24px;
      /* Äáº·t giĂ¡ trá»‹ padding má»›i */
    }

    .textarea-tienich {
      line-height: 1.1;
    }

}

 